<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanchen.mapper.FollowMapper">
    <insert id="insertFollow">
        INSERT INTO follow_info (follower_id, followed_id)
        VALUES (#{followerId}, #{followedId})
    </insert>
    <delete id="deleteFollow">
        DELETE FROM follow_info
        WHERE follower_id = #{followerId} AND followed_id = #{followedId}
    </delete>
</mapper>